* {
  background-color: goldenrod;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  width: 70px;
  height: 30px;
  background-color: greenyellow;
  border-radius: 50px;
  margin: 20px 20px;
  font-weight: 900;
  font-size: larger;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: yellow;
  border: none;
}
.step-count {
  font-weight: 900;
}
.text {
  color: green;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 600;
}
